/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -100%; /* Sidebar is hidden initially */
  width: 100%;
  height: 100vh;
  transition: left 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-content {
  width: 30%;
  height: 100vh;
  background-color: white;
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden;
  padding: 20px;
}

.sidebar.open {
  left: 0; /* Sidebar is visible when open */
}

/* Optional: Add styles for the toggle button */
.mat-icon-button {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 10;
  border: 1px solid transparent;
  border-radius: 2px;
  background-color: #d82a4e;
  color: white;
}

/* Additional Styles */
.search-field {
  display: flex;
  align-items: center;
}

.filter-price,
.filter-stop,
.filter-stop {
  margin: 30px 0px;
}
.filter-price .price-range {
  font-size: 24px;
}

.filter-price .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #878787;
  font-size: 24px;
}

.filter {
  color: #d82a4e;
  font-size: 24px;
  display: block;
  margin-bottom: 10px;
}

.close-btn {
  display: block;
  margin-left: auto;
  border: 0px;
  background-color: transparent;
  font-size: 20px;
}

mat-form-field {
  width: 100%;
  margin-top: 10px;
}

mat-radio-button {
  display: block;
}
