.language-toggle {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.toggle-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #d82a4e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.toggle-button:hover {
  background-color: #c21838;
  transform: scale(1.05);
}

.toggle-button:active {
  transform: scale(1);
}
