.btn {
  width: 20%; /* Make the button stretch across the card */
  padding: 10px; /* Add padding for a better button size */
  font-size: 16px; /* Increase button text size */
  background-color: #d82a4e; /* Primary button color */
  color: white; /* White text */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded button corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease;
}

.btn:hover {
  color: white;
  background-color: #c21838; /* Darker shade on hover */
}

h1 {
  color: #d82a4e;
  font-size: 80px;
  font-weight: 600;
  text-transform: uppercase;
  animation: bounceIn 1.5s ease-in-out, fadeIn 2s;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  .btn {
    font-size: 0.9rem;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }

  .btn {
    font-size: 0.8rem;
    padding: 8px;
    width: 50%;
  }
}
